<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.agenttrace.monitor</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>export $(grep -v '^#' {{ENV_FILE_PATH}} | xargs) &amp;&amp; {{PYTHON_PATH}} -m agent_trace --log-level INFO</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>{{WORKING_DIR}}</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONPATH</key>
        <string>{{PYTHONPATH}}</string>
    </dict>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>Crashed</key>
        <true/>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
    
    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/agent-trace.stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/agent-trace.stderr.log</string>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>LowPriorityIO</key>
    <true/>
</dict>
</plist>
